.nav-wrapper {
  .brand-logo {
    @media #{$small-and-down} {
      font-size: 1.6rem;
    }
  }
  #mobile-menu {
    h5 {
      color: $off-black;
      margin-left: 16px;
    }
  }
}

.parallax img {
    @media #{$small-and-down} { max-width: 225%; }
    @media #{$medium-and-up} { width: 100%; }
}
