<h3 id="add-burger" class="header offset">Add a Burger</h3>
<form action="/" method="POST">
  <div class="row">
    <div class="input-field col s12 m9 l6">
      <input type="text" id="burger-name" class="validate" name="burger_name" data-length="50" required>
      <label for="burger-name">Burger Name</label>
      <button type="submit" class="waves-effect waves-light btn">Add Burger</button>
    </div>
  </div>
</form>
