{{> nav}}
{{> parallax}}
<h2>Add a Burger</h2>
<form action="/" method="POST">
  <div>
    <label for="burger-name">Burger Name:</label>
    <input type="text" id="burger-name" name="burger_name" maxlength="50">
  </div>
  <button type="submit">Add Burger</button>
</form>
